.container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.text {
  font-family: "hero-new-hairline", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-left: 2rem;
  display: inline;
}
