.container {
  width: 60%;
  margin: auto;
  height: 100%;
  text-align: center;
}
.text {
  font-family: "hero-new-hairline", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: lowercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
  display: inline;
  line-height: 30px;
}
.container img {
  position: absolute;
  width: 200px;
  margin-top: -300px;
}
@media (max-width: 720px) {
  .container {
    width: 95%;
  }
  .container img {
    width: 150px;
    margin-top: -275px;
  }
  .text {
    font-size: 1rem;
  }
}
