.nav {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 2rem;
}
.navItem {
  font-family: "hero-new-hairline", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: lowercase;
  font-size: 15px;
  letter-spacing: 3px;
  display: inline;
  cursor: default;
}
.navItemTitle {
  font-weight: 300;
  opacity: 0.8;
  letter-spacing: 2px;
  font-size: 14.5px;
}
.navItemSubtitle {
  text-transform: unset;
  font-size: 12px;
  font-weight: bold;
  position: inherit;
  bottom: 2rem;
  right: 2rem;
}
.navItem sup {
  font-size: 0.8rem;
  /* visibility: hidden; */
}
.navItemProjects:hover sup {
    visibility: unset;
}
.nav button {
  border: none;
  cursor: pointer;
  background-color: unset;
}
.nav button:hover {
  /* opacity: 0.8; */
}
.navItemRightContainer {
  position: inherit;
  top: 2rem;
  right: 2rem;
}
.navItemRightContainer .navItem {
  margin-left: 2rem;
}
.navItem a:hover {
  font-weight: bold;
}
.emailIcon {
  display: block;
  margin-top: 10px;
}
.emailIcon img {
  width: 25px;
}
