.sites {
  margin: auto;
  width: 100%;
  position: relative;
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
}
.siteText {
  margin: 15px;
  letter-spacing: 2px;
  font-weight: 100;
  font-style: normal;
  font-size: 0.7rem;
  display: flex;
}
.titleLocation {
  flex: 0 0 60%;
}
.siteTitle {
  font-weight: 300;
  padding-bottom: 10px;
  font-family: 'hero-new', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.siteLocation {
  flex: 0 0 40%;
  text-align: right;
  text-transform: uppercase;
}
.siteDescription {
  font-size: 0.8rem;
  text-transform: lowercase;
  line-height: 20px;
  padding-bottom: 10px;
}
.listItem {
  background-color: white;
  border-radius: 20px;
  flex: 0 0 45%;
  margin: 20px;
  z-index: 2;
}
.thumbnail {
  width: 100%;
}
.linkIcon {
  width: 40px;
  position: absolute;
  visibility: hidden;
  z-index: 2;
  top: 1.8rem;
  right: 1.8rem;
}
.thumbnail:hover {
  filter: brightness(0.6);
}
.thumbnail:hover ~ .linkIcon {
  visibility: visible;
}
.linkIcon:hover {
  visibility: visible;
}
@media (max-width: 720px) {
  .siteList {
    display: unset;
  }
  .listItem {
    flex: unset;
  }
}
