.sites {
  margin: auto;
  width: 100%;
  position: relative;
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
}
.siteText {
  margin: 15px;
  letter-spacing: 2px;
  font-weight: 100;
  font-style: normal;
  font-size: 0.7rem;
  display: flex;
}
.titleLocation {
  flex: 0 0 50%;
}
.siteTitle {
  font-size: 1rem;
  font-weight: 300;
}
.siteLocation {
  padding-top: 10px;
  text-transform: uppercase;
}
.siteDescription {
  font-size: 0.8rem;
  text-transform: lowercase;
  flex: 0 0 50%;
  text-align: right;
  line-height: 20px;
}
.listItem {
  background-color: white;
  border-radius: 20px;
  flex: 0 0 45%;
  margin: 20px;
  z-index: 2;
}
.thumbnail {
  width: 100%;
}
.linkIcon {
  width: 40px;
  position: absolute;
  display: none;
  z-index: 2;
  top: 2rem;
  right: 2rem;
}
.thumbnail:hover {
  filter: brightness(0.6);
}
.thumbnail:hover ~ .linkIcon {
  display: unset;
}
